h1 {
    font-family: cursive;
    font-size: 64px;
    font-weight: bold;
}
h2 {
    font-family: cursive;
    font-size: 48px;
}
h3 {
    font-family: cursive;
    font-size: 36px;
}
.title {
    margin-top: 60px;
    margin-bottom: 60px;
}
ul.a_list {
    margin-top: 200px;
}
#anime_name {
    font-family: cursive;
    text-align: center;
    font-size: 24px;
}
#bored {
    margin-top: 100px;
    margin-bottom: 100px;
}